<nav class="qnc-story-toolbar" data-qnc-panel="story-toolbar">
  <div class="qnc-story-toolbar-group">
    <button type="button" class="qbtn" data-action="add-tonovi">Add TONOVI</button>
    <button type="button" class="qbtn" data-action="add-offovi">Add OFFOVI</button>
  </div>
  <div class="qnc-story-toolbar-group">
    <button type="button" class="qbtn" data-action="move-up">↑</button>
    <button type="button" class="qbtn" data-action="move-down">↓</button>
    <button type="button" class="qbtn qbtn-danger" data-action="delete">Delete selected</button>
  </div>
</nav>
